@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Nanum+Pen+Script&display=swap');

* {
    font-family: 'Lato', 'Gothic A1', sans-serif;
    color: #212121;
}

body {
    width: 400px;
    margin: 20px 20px 30px 20px;
}

a {
    text-decoration: none;
    color: #212121;
    font-size: 0.8rem;
}

ul, 
li {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-top: 2px;
}

.row {
    width: 100%;
    display: flex;
}

.row_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 6px;
}

.row_end__item {
    display: none;
}

.btn {
    width: 60%;
    padding: 20px;
    border-style: none;
    background-color: #212121;
    color: #fff;
}

.option_icon_md {
    padding-left: 5px;
    width: 15px;
}

.option_icon_lg {
    padding-left: 5px;
    width: 18px;
}

.inner-hide {
    padding-left: 1.2em;
    overflow: hidden;
    display: none;
}

.inner-show {
    padding-left: 1.2em;
    overflow: hidden;
    display: block;
}

.directories {
    font-weight: 800;
    font-size: 1.1rem;
    background-color: #FFC107;
}

.show {
    display: block !important;
}

.setAlarmPanel {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.alarm_item {
    display: flex;
    justify-content: space-between;
}

.highlight {
    background-color: #FFECB3;
    transition: background .5s ease-out;
}

.item {
    display: inline-block;
}

.alert {
    position: fixed;
    width: 378px; 
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000;
}

.alert-success {
    background-color: #C8E6C9;
    /* border: 1px solid #388E3C; */
}

.alert-warning {
    background-color: #FFECB3;
    /* border: 1px solid #FFA000; */

}

.alert-fail {
    background-color: #FFCDD2;
    /* border: 1px solid #D32F2F; */
}

#searchBar {
    background-image: url(assets/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    width: 100%;
    height: 30px;
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid #212121;
    justify-content: center;
    font-size: 1rem;
}

#searchBar:focus {
    outline: none !important;
}

#radioBtns {
    width: 50%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#setBtn {
    width: 50%;
    justify-content: center;
}

#alarmList, #alarmList > li {
    padding: 0;
}

#alarmBoardTitle {
    font-size: 1.2rem;
    font-weight: 800;
}