body {
    width: 400px;
    margin: 20px 20px 50px 20px;
    color: #212121;
}

ul, li {
    padding-left: 10px;
    list-style-type: none;
}

.row {
    width: 100%;
    display: flex;
}

.row_end {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#search {
    width: 100%;
    height: 30px;
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid #212121;
    justify-content: center;
}

#search:focus {
    outline: none !important;
}

.directories {
    font-size: 1rem;
    font-weight: 800;
    background-color: #FFC107;
}

.option_icon_md {
    padding-left: 5px;
    width: 15px;
}

.option_icon_lg {
    padding-left: 5px;
    width: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    margin: 5px;
    width: 60px;
    border-style: none;
    background-color: #212121;
    color: #fff;
}
#alarmcontent_list, #alarmcontent_list > li {
    padding: 0;
}

.alarm_item {
    display: flex;
    justify-content: space-between;
}

#alarmlist_title {
    font-size: 1rem;
    font-weight: 800;
}