body {
    width: 400px;
    margin: 20px 20px 50px 20px;
    color: #212121;
}

ul, li {
    padding-left: 10px;
    list-style-type: none;
}

ul .inner {
    /* padding-left: 1em; */
    overflow: hidden;
    display: none;
}
ul .inner.show {
/*display: block;*/
}

ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    /* transition: background .3s ease; */
}
ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}

.row {
    width: 100%;
    display: flex;
}

.row_end {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#searchBar {
    width: 100%;
    height: 30px;
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid #212121;
    justify-content: center;
}

#searchBar:focus {
    outline: none !important;
}

.directories {
    font-size: 1rem;
    font-weight: 800;
    background-color: #FFC107;
}

.option_icon_md {
    padding-left: 5px;
    width: 15px;
}

.option_icon_lg {
    padding-left: 5px;
    width: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    margin: 5px;
    width: 60px;
    border-style: none;
    background-color: #212121;
    color: #fff;
}
#alarmList, #alarmList > li {
    padding: 0;
}

.alarm_item {
    display: flex;
    justify-content: space-between;
}

#alarmBoardTitle {
    font-size: 1rem;
    font-weight: 800;
}