body {
    width: 400px;
    margin: 20px 20px 30px 20px;
    color: #212121;
}

a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
}

ul, li {
    padding-left: 0px;
    list-style-type: none;
}

.row {
    width: 100%;
    display: flex;
}

.row_end {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.row_end__item {
    display: none;
}

.btn {
    width: 60%;
    padding: 20px;
    border-style: none;
    background-color: #212121;
    color: #fff;
}

.option_icon_md {
    padding-left: 5px;
    width: 13px;
}

.setAlarmPanel {
    width: 100%;
}

.inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

.directories {
    font-weight: 800;
    font-size: 1.2rem;
}

.show {
    display: block !important;
}

.setAlarmPanel {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.alarm_item {
    display: flex;
    justify-content: space-between;
}

#searchBar {
    background-image: url(assets/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    width: 100%;
    height: 30px;
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid #212121;
    justify-content: center;
}

#searchBar:focus {
    outline: none !important;
}

#radioBtns {
    width: 50%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#setBtn {
    width: 50%;
    justify-content: center;
}

#alarmList, #alarmList > li {
    padding: 0;
}

#alarmBoardTitle {
    font-size: 1rem;
    font-weight: 800;
}
